---
interface Props {
    id: string;
    title: string;
    price: number;
    img: string;
    size: string[];
}

const { id, title, price, img, size } = Astro.props;
---

<li class="link-card" data-product-card data-product-id={id} data-product-title={title} data-product-price={price} data-product-img={img}>
    <div class="card">
        <img src={img} alt={title} width="128" height="128" />
        <h2>
            {title}
        </h2>
        <b>{price} руб.</b>
    </div>
</li>

<style>
    .link-card {
        list-style: none;
        cursor: pointer;
        display: flex;

        padding: 1px;
        background-color: #23262d;
        background-image: none;
        background-size: 400%;
        border-radius: 7px;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            align-items: center;
        }
    }
    .link-card > .card {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: calc(1.5rem - 1px);
        border-radius: 8px;
        color: white;
        background-color: #23262d;
        opacity: 0.8;
    }
    h2 {
        margin: 0;
        font-size: 1.25rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    .link-card:is(:hover, :focus-within) {
        background-position: 0;
        background-image: var(--accent-gradient);
    }
    .link-card:is(:hover, :focus-within) h2 {
        color: rgb(var(--accent-light));
    }
</style>

<script>
    const productCards = document.querySelectorAll('[data-product-card]');
    const modal = document.getElementById('productModal');

    productCards.forEach(card => {
        card.addEventListener('click', () => {
            if (modal) {
                const id = card.getAttribute('data-product-id');
                const title = card.getAttribute('data-product-title');
                const price = card.getAttribute('data-product-price');
                const img = card.getAttribute('data-product-img');

                modal.setAttribute('data-product-id', id || '');
                modal.setAttribute('data-product-title', title || '');
                modal.setAttribute('data-product-price', price || '');
                modal.setAttribute('data-product-img', img || '');

                modal.style.display = 'block';
            }
        });
    });
</script>
